<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<h1>See what's happening @missionConnect!</h1>

<div class="hero-unit">
    <h2>Welcome!</h2>
<div class="thumbnail">
      <img data-src="holder.js/300x300" alt="[X]">
      <div class="caption">
        <h3>Cool Picture Goes Here</h3>
        <p>Yes... it is cool.</p>
     </div>
</div>
<p>No Login will be required here....</p>
<p>Will highlight a mission team of the week, feed in some latest prayer requests, and embed a scripture or a blog post about the importance of prayer/connection/missions/action</p>

</div>
{% endblock %}