<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<h1>See what's happening @missionConnect!</h1>

<div class="hero-unit">
    <h2>Welcome!</h2>
<div class="thumbnail">
      <img src='{{url_for('.static', filename="img/sunrise.jpg")}}' alt="[X]">
      <div class="caption">
        <h3>Updates are live!</h3>
        <ul>
            <li>Can upload profile pictures</li>
            <li>Post types supported</li>
            <li>Prayer feed supported</li>
            <li>Able to see who you are following</li>
            <li>Able to see who is following you</li>
        </ul>
     </div>
</div>
<p>No Login will be required here....</p>
<p>Will highlight a mission team of the week, feed in some latest prayer requests, and embed a scripture or a blog post about the importance of prayer/connection/missions/action</p>

</div>
{% endblock %}