<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<h1>See what's happening @missionConnect!</h1>

<h2>Welcome!</h2>

<div class="text-center">
    <h3>Site Under Construction</h3>
    <img src="{{url_for('.static', filename='img/under-construction.GIF')}}">
</div>
<div class="well">
    <b>Latest Updates</b>
    <ul>
        <li>Can upload profile pictures</li>
        <li>Prayer Tables</li>
        <li>Prayer following</li>
    </ul>
</div>
<p>No Login will be required here....</p>
<p>Will highlight a mission team of the week, feed in some latest prayer requests, and embed a scripture or a blog post about the importance of prayer/connection/missions/action</p>

</div>
{% endblock %}