<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    {% include 'flash.html' %}
    <div class="well well-lg">
        <div class="row text-center">
            <h1>{{ group.name }}</h1>
            <img  class="img-thumbnail" src="{{ group.avatar(70) }}" />
            <p></p>
            <p><a href="{{url_for('groupFollowers', group_name=group.name)}}"> Followers: {{ group.followers.count() - group.members.count() }}</a> |
            {% if group.creator == g.user %}
                <a href="{{url_for('manageGroup', group_name=group.name)}}">Manage this group</a>
            {% elif not g.user.is_group_member(group) %}
                <a href="#">Request to Join</a>
                {% if not g.user.is_group_follower(group) %}
                | <a href="{{url_for('followGroup', group_name=group.name)}}">Follow</a>
                {% else %}
                | <a href="#">Unfollow</a>
                {% endif %}
            {% endif %}
            </p>
        </div>
        <div class="row">
            {% if group.about %}<div class="col-xs-5"><b>About Group: </b>{{ group.about }}</div>{% endif %}
            <div class='pull-right col-xs-4'>
                <table>
                    <tr>
                        <td class="col-md-6 text-right">
                           <b>Group Admin: </b><br>
                            <a href="{{ url_for('user', nickname=group.creator.nickname) }}">{{ group.creator.nickname }}</a> 
                        </td>
                        <td class="col-md-6 text-left">
                            <a href="{{ url_for('user', nickname=group.creator.nickname) }}"><img class="img-rounded" src="{{ group.creator.avatar(70) }}" /></a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        
        <hr style="height:1px;border:none;color: #808080 ;background-color:#808080;"/>
        <h3>Members: {{ group.members.count() }}</h3>
        <div class="row">
            {% for profile in group.members.all() %}
                <div class="col-xs-4">
                    {% include 'member.html' %}
                </div>
            {% endfor %}
            
        </div>
    </div>
    
    {% if g.user.is_group_member(group) %}
        {% include 'post_input.html' %}
    {% endif %}
    
    
    {% for post in posts.items %}
        {% include 'post.html' %}
    {% endfor %}
    <ul class="pager">
        {% if posts.has_prev %}
        <li class="previous"><a href="{{ url_for('user', nickname=user.nickname, page=posts.prev_num) }}">Newer posts</a></li>
        {% else %}
        <li class="previous disabled"><a href="#">Newer posts</a></li>
        {% endif %}
        {% if posts.has_next %}
        <li class="next"><a href="{{ url_for('user', nickname=user.nickname, page=posts.next_num) }}">Older posts</a></li>
        {% else %}
        <li class="next disabled"><a href="#">Older posts</a></li>
        {% endif %}
    </ul>
{% endblock %}

