                <textarea size=140, maxlength=140, rows=2, cols=80 id="textArea{{post.id}}" onkeydown="if (event.keyCode == 13) {submitEditChanges('{{post.id}}'); return false; }">{{post.body}}</textarea>
                <input type="hidden" id="PTVal{{post.id}}" value="{{post.postType}}">
                <div>
                    <div class="btn-group vcenter" data-toggle="buttons">
                        <div class="btn btn-default btn-xs {% if 1 == post.postType%}active{% endif %}" autocomplete="off" onclick="setPostType('1', '{{post.id}}')">
                            <input type="radio" id="radioPost{{post.id}}" value="1">Post
                        </div>
                        <div class="btn btn-default btn-xs {% if 3 == post.postType%}active{% endif %}" autocomplete="off" onclick="setPostType('3', '{{post.id}}')">
                            <input type="radio" id="radioPray{{post.id}}" value="3">Pray
                        </div>
                    </div>
                    <button class="btn btn-primary btn-xs" onclick="javascript:submitEditChanges('{{post.id}}');">Update</button>
                    <button class="btn btn-primary btn-xs" onclick="javascript:editFormHide('#postBody{{post.id}}', '#actionBtn{{post.id}}', '#postEdit{{post.id}}')">Cancel</button>
                </div>