<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<h1>Pray!</h1>

<div class="well">
<p>This page will be devouted to prayer requests.  Prayer feed?</p>
</div>


{% for post in posts.items %}
    {% include 'post.html' %}
{% endfor %}
<ul class="pager">
    {% if posts.has_prev %}
    <li class="previous"><a href="{{ url_for('pray', page=posts.prev_num) }}">Newer posts</a></li>
    {% else %}
    <li class="previous disabled"><a href="#">Newer posts</a></li>
    {% endif %}
    {% if posts.has_next %}
    <li class="next"><a href="{{ url_for('pray', page=posts.next_num) }}">Older posts</a></li>
    {% else %}
    <li class="next disabled"><a href="#">Older posts</a></li>
    {% endif %}
</ul>

{% endblock %}