<div class="media row table">
    <a class="media-left col-xs-1" href="{{ url_for('user', nickname=profile.nickname) }}"><img class="ceenter-block img-rounded" src="{{ profile.avatar(70) }}" /></a>
    <div class="media-body col-xs-11">
        <div><a class="media-heading" href="{{ url_for('user', nickname=profile.nickname) }}">{{ profile.nickname }}</a></div>
        {% if profile.about_me %}<div><em>About: </em>{{ profile.about_me }}</div>{% endif %}
        {% if profile.last_seen %}<div><em>Last seen: {{ momentjs(profile.last_seen).calendar() }}</em></div>{% endif %}
        <div><a href="{{ url_for('followers', nickname=profile.nickname)}}">Followers: {{ profile.followers.count() - 1 }}</a> | <a href="{{ url_for('following', nickname=profile.nickname)}}">Following: {{ profile.followed.count() - 1 }}</a></div>
    </div>
</div>
