<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('.static', filename='plupload/jquery.plupload.queue/css/jquery.plupload.queue.css')}}" type="text/css" media="screen" />

<script type="text/javascript" src="{{ url_for('.static', filename='plupload/plupload.full.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('.static', filename='plupload/jquery.plupload.queue/jquery.plupload.queue.js')}}"></script>
<!--script type="text/javascript" src="{{ url_for('.static', filename='plupload/jquery.ui.plupload/jquery.ui.plupload.min.js')}}"></script>-->

<script type="text/javascript">
// Initialize the widget when the DOM is ready
$(function() {
    $("#uploader").pluploadQueue({
        // General settings
        runtimes : 'html5,flash,silverlight,html4',
        url : "/upload",
 
        // Maximum file size
        max_file_size : '10mb',
 
        chunk_size: '1mb',
 
        // Resize images on clientside if we can
        resize : {
            width : 200,
            height : 200,
            quality : 90,
            crop: true // crop to exact dimensions
        },
 
        // Specify what files to browse for
        filters : [
            {title : "Image files", extensions : "jpg,gif,png"}
        ],
 
        // Rename files by clicking on their titles
        rename: true,
         
        // Sort files
        sortable: true,
 
        // Enable ability to drag'n'drop files onto the widget (currently only HTML5 supports that)
        dragdrop: true,
 
        // Views to activate
        views: {
            list: true,
            thumbs: true, // Show thumbs
            active: 'thumbs'
        },
 
        // Flash settings
        flash_swf_url : "{{ url_for('.static', filename='plupload/Moxie.swf')}}",
     
        // Silverlight settings
        silverlight_xap_url : "{{ url_for('.static', filename='plupload/Moxie.xap')}}"
    });
});
</script>

<form action="/" method="POST" enctype="multipart/form-data">
<div id="uploader">
    <p>Your browser doesn't have Flash, Silverlight, or HTML5 support.</p>
    <input type="file" name="datafile" size="40">
    <input type="submit" value="Send">
</div>
</form>
<ul id="result">
</ul>
{% endblock %}